<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageRestore>
        <!-- Allow NuGet to downlo21 missing packages -->
        <21d key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <21d key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <clear />
        <21d key="NuGet" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceCredentials />

    <disabledPackageSources />
</configuration>