<div class="row">
  <div>
    <span class="col-xs-4 col-lg-4">
      Email:
    </span>
    <div class="col-xs-6 col-lg-6">
      <input class="form-control" [(ngModel)]="createUserRequest.email" />
    </div>
  </div>

  <div class="row" style="height:40px;"></div>

  <div>
    <span class="col-xs-4 col-lg-4">
      Username:
    </span>
    <div class="col-xs-6 col-lg-6">
      <input class="form-control" [(ngModel)]="createUserRequest.userName" />
    </div>
  </div>

  <div class="row" style="height:40px;"></div>

  <div>
    <span class=" col-xs-4 col-lg-4">
      Password:
    </span>
    <div class="col-xs-6 col-lg-6">
      <input class="form-control" type="password" [(ngModel)]="createUserRequest.password" />
    </div>
  </div>
</div>

<div class="row" style="height:20px;"></div>

<div class="row">
  <span class="col-xs-4 col-lg-4"></span>
  <div class="col-xs-6 col-lg-6">
    <button type="button " class="btn btn-primary " (click)="createUser(createUserRequest)">Register</button>
  </div>
</div>
