<form (ngSubmit)="register(createUserRequest);" #registerForm="ngForm">

  <div class="row">

    <label class="col-xs-2 col-lg-2">
      E-Mail:
    </label>

    <div class="col-xs-5 col-lg-5">
      <input class="form-control" [(ngModel)]="createUserRequest.email" name="email" #email="ngModel" required maxlength="25" />
    </div>

    <div class="col-xs-5 col-lg-5 ">
      <div *ngIf="email.errors && registerForm.touched" class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          E-Mail is required
        </div>
        <div [hidden]="!email.errors.maxlength">
          E-Mail cannot be longer than 25 characters
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="height:40px;"></div>

  <div class="row">

    <label class="col-xs-2 col-lg-2">
      Username:
    </label>

    <div class="col-xs-5 col-lg-5">
      <input class="form-control" [(ngModel)]="createUserRequest.userName" name="userName" #userName="ngModel" required minlength="3"
        maxlength="25" />
    </div>

    <div class="col-xs-5 col-lg-5">
      <div *ngIf="userName.errors && registerForm.touched" class="alert alert-danger">
        <div [hidden]="!userName.errors.required">
          Username is required
        </div>
        <div [hidden]="!userName.errors.minlength">
          Username cannot be shorter than 3 characters
        </div>
        <div [hidden]="!userName.errors.maxlength">
          Username cannot be longer than 25 characters
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="height:40px;"></div>

  <div class="row">

    <label class=" col-xs-2 col-lg-2">
      Password:
    </label>

    <div class="col-xs-5 col-lg-5">
      <input class="form-control" type="password" [(ngModel)]="createUserRequest.password" name="password" #password="ngModel"
        required minlength="3" maxlength="25" />
    </div>

    <div class="col-xs-5 col-lg-5">
      <div *ngIf="password.errors && registerForm.touched" class="alert alert-danger">
        <div [hidden]="!password.errors.required">
          Password is required
        </div>
        <div [hidden]="!password.errors.minlength">
          Password cannot be shorter than 3 characters
        </div>
        <div [hidden]="!password.errors.maxlength">
          Password cannot be longer than 25 characters
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="height:20px;"></div>

  <div class="row">
    <label class="col-xs-2 col-lg-2"></label>
    <div class="col-xs-5 col-lg-5">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
    </div>
  </div>

</form>