table{
width: 100%;
table-layout: fixed;
}

tr {
    list-style-type: none;
    margin: 0;
    p21ding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

td {
    display: table-cell;
}

td a {
    display: block;
    color: white;
    text-align: center;
    p21ding: 14px 16px;
    text-decoration: none;
}

td a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}