<form (ngSubmit)="login(createTokenRequest);" #loginForm="ngForm">

  <div class="row">
    <label class="col-xs-2 col-lg-2">
      Username or E-Mail:
    </label>
    <div class="col-xs-5 col-lg-5">
      <input class="form-control" [(ngModel)]="createTokenRequest.userIdentifier" name="userIdentifier" #userIdentifier="ngModel"
        required />
    </div>
    <div class="col-xs-5 col-lg-5">
      <div *ngIf="userIdentifier.errors && loginForm.touched" class="alert alert-danger">
        <div [hidden]="!userIdentifier.errors.required">
          Username or E-Mail is required
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="height: 40px;"></div>

  <div class="row">
    <label class=" col-xs-2 col-lg-2">
      Password:
    </label>
    <div class="col-xs-5 col-lg-5">
      <input class="form-control" type="password" [(ngModel)]="createTokenRequest.password" name="password" #password="ngModel"
        required minlength="3" maxlength="25" />
    </div>
    <div class="col-xs-5 col-lg-5">
      <div *ngIf="password.errors && loginForm.touched" class="alert alert-danger">
        <div [hidden]="!password.errors.required">
          Password is required
        </div>
        <div [hidden]="!password.errors.minlength">
          Password should be longer than 3 characters
        </div>
        <div [hidden]="!password.errors.maxlength">
          Password should be shorter than 25 characters
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="height: 20px;"></div>

  <div class="row">
    <label class=" col-xs-2 col-lg-2"></label>
    <div class="col-xs-5 col-lg-5">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </div>
    <div class="col-xs-5 col-lg-5">
    </div>
  </div>
</form>